---
- name: Update packages
  dnf:
    name: "*"
    state: latest

- name: Ensure required packages are installed
  dnf:
    name:
      - sudo
      - python3
      - curl
      - htop
      - git
      - wget
      - net-tools
    state: present

- name: Restart Netowrk Service
  ansible.builtin.service:
    name: NetworkManager
    state: restarted

- name: Configure static IP
  template:
    src: files/ifcfg-eth0.j2
    dest: /etc/sysconfig/network-scripts/ifcfg-eth0
    mode: '0644'
  notify: reboot server
