---

- name: Update Packages
  apt:
    upgrade: yes
    update_cache: yes

- name: Disable cloud-init network management (Ubuntu)
  ansible.builtin.copy:
    dest: /etc/cloud/cloud.cfg.d/99-disable-network-config.cfg
    content: "network: {config: disabled}\n"
    owner: root
    group: root
    mode: "0644"

- name: Check if 90-installer-network.cfg exists
  ansible.builtin.stat:
    path: /etc/cloud/cloud.cfg.d/90-installer-network.cfg
  register: installer_network_cfg


- name: Disable 90-installer-network.cfg
  ansible.builtin.command:
    cmd:  mv /etc/cloud/cloud.cfg.d/90-installer-network.cfg /etc/cloud/cloud.cfg.d/90-installer-network.bak
  when:
    - installer_network_cfg.stat.exists

- name: Configure current DHCP address as static IP
  ansible.builtin.template:
    src: files/50-cloud-init.j2
    dest: /etc/netplan/50-cloud-init.yaml
    owner: root
    group: root
    mode: '0600'
  notify:
    - Apply netplan configuration
    - reboot server

