---

- name: Ensure basic packages are installed
  ansible.builtin.package:
    name:
      - sudo
      - python3
      - curl
      - htop
      - wget
      - git
      - net-tools
    state: present

- name: create ansible user (ansbl-user)
  user:
    name: ansbl-user
    groups: sudo
    append: yes

- name: Add ssh key for ansbl-user
  authorized_key:
    user: ansbl-user
    key: "{{ lookup('file', 'files/ansible_management_user.pub') }}"

- name:  Add sudoers file for ansbl-user
  copy:
    src: sudoer_ansbl-user
    dest: /etc/sudoers.d/ansbl-user
    owner: root
    group:  root
    mode: 0440
